Repository gavin838/triton_nio, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ptillet, @goostavz, @Superjomn, @daadaada

[AMD] Refactor decompose-unsupported-amd-conversions pass
  test/Conversion/amd/decompose-unsupported-conversions-gfx9.mlir
  test/Conversion/amd/decompose-unsupported-conversions.mlir
  third_party/amd/lib/TritonAMDGPUToLLVM/DecomposeUnsupportedConversions.cpp
Owners: @ptillet

Use build-system requires to install pybind11
  cmake/pybind11-version.txt
  python/pyproject.toml
  python/setup.py
Owners: @ptillet

int8 -> int32
  python/test/unit/language/test_core.py
Owners: @ptillet

basic test
  python/test/unit/language/test_core.py
  python/triton/language/semantic.py
Owners: @ptillet

test large dot
  python/test/unit/language/test_core.py
Owners: @ptillet

refactor shared to FMA dot op
  lib/Conversion/TritonGPUToLLVM/ConvertLayoutOpToLLVM/SharedToDotOperandFMA.cpp
Owners: @goostavz, @Superjomn

minimal example
  bin/RegisterTritonDialects.h
  lib/Conversion/TritonGPUToLLVM/DotOpToLLVM/FMA.cpp
  mi300_irs/__grp__matmul_kernel.json
  mi300_irs/matmul_kernel.amdgcn
  mi300_irs/matmul_kernel.json
  mi300_irs/matmul_kernel.ttgir
  mi300_irs/matmul_kernel.ttir
  python/test/unit/language/test_core.py
  run_test.sh
Owners: @ptillet, @goostavz, @Superjomn

limit nonkdim indexing
  lib/Conversion/TritonGPUToLLVM/ConvertLayoutOpToLLVM/SharedToDotOperandFMA.cpp
Owners: @goostavz, @Superjomn

temporary disable mfma
  third_party/amd/lib/TritonAMDGPUTransforms/AccelerateAMDMatmul.cpp
Owners: @ptillet

support dot 3d in FMA
  bin/RegisterTritonDialects.h
  include/triton/Conversion/TritonGPUToLLVM/Utility.h
  include/triton/Dialect/TritonGPU/IR/Dialect.h
  lib/Conversion/TritonGPUToLLVM/ConvertLayoutOpToLLVM/SharedToDotOperandFMA.cpp
  lib/Conversion/TritonGPUToLLVM/DotOpToLLVM/FMA.cpp
  lib/Dialect/TritonGPU/IR/Dialect.cpp
  python/test/unit/language/test_core.py
  third_party/nvidia/lib/TritonNVIDIAGPUToLLVM/ConvertLayoutOpToLLVM/SharedToDotOperandMMAv2.cpp
Owners: @ptillet, @goostavz, @Superjomn

initial dot support
  include/triton/Conversion/TritonGPUToLLVM/Utility.h
  include/triton/Dialect/TritonGPU/Transforms/Utility.h
  lib/Conversion/TritonGPUToLLVM/DotOpToLLVM/FMA.cpp
  lib/Dialect/TritonGPU/Transforms/Utility.cpp
  third_party/amd/lib/TritonAMDGPUTransforms/AccelerateAMDMatmul.cpp
Owners: @ptillet, @goostavz, @Superjomn

support swizzling
  lib/Conversion/TritonGPUToLLVM/ConvertLayoutOpToLLVM/SharedToDotOperandFMA.cpp
  python/test/unit/language/test_core.py
Owners: @goostavz, @Superjomn, @ptillet

support vector loads
  lib/Conversion/TritonGPUToLLVM/ConvertLayoutOpToLLVM/SharedToDotOperandFMA.cpp
  lib/Conversion/TritonToTritonGPU/TritonToTritonGPUPass.cpp
Owners: @goostavz, @Superjomn, @daadaada

update AccelerateMatmul
  lib/Conversion/TritonGPUToLLVM/DotOpToLLVM/FMA.cpp
  python/test/unit/language/test_core.py
  third_party/amd/lib/TritonAMDGPUTransforms/AccelerateAMDMatmul.cpp
Owners: @goostavz, @Superjomn, @ptillet

Small dot argument optimization
  python/test/unit/language/test_core.py
  third_party/amd/backend/compiler.py
  third_party/amd/include/TritonAMDGPUTransforms/Passes.h
  third_party/amd/include/TritonAMDGPUTransforms/Passes.td
  third_party/amd/lib/TritonAMDGPUTransforms/CMakeLists.txt
  third_party/amd/lib/TritonAMDGPUTransforms/OptimizeSmallDotOperands.cpp
  third_party/amd/python/triton_amd.cc
Owners: @ptillet

implement shortcuts
  include/triton/Analysis/Utility.h
  lib/Analysis/Utility.cpp
  lib/Conversion/TritonGPUToLLVM/DecomposeUnsupportedConversions.cpp
  lib/Dialect/TritonGPU/Transforms/ReduceDataDuplication.cpp
  third_party/amd/lib/TritonAMDGPUToLLVM/ConvertLayoutOpToLLVM.cpp
  third_party/amd/lib/TritonAMDGPUTransforms/OptimizeSmallDotOperands.cpp
Owners: @ptillet, @goostavz, @Superjomn

add small dot test
  test_small_dot.py
Owners: @ptillet

relax frontend size limitation
  third_party/amd/backend/compiler.py
Owners: @ptillet

remove logs
  mi300_irs/__grp__matmul_kernel.json
  mi300_irs/matmul_kernel.amdgcn
  mi300_irs/matmul_kernel.json
  mi300_irs/matmul_kernel.ttgir
  mi300_irs/matmul_kernel.ttir
Owners: @ptillet

bypass stream pipliner
  third_party/amd/lib/TritonAMDGPUTransforms/StreamPipeline.cpp
Owners: @ptillet

fix indexing
  lib/Conversion/TritonGPUToLLVM/ConvertLayoutOpToLLVM/SharedToDotOperandFMA.cpp
  lib/Conversion/TritonGPUToLLVM/DotOpToLLVM/FMA.cpp
  third_party/amd/lib/TritonAMDGPUTransforms/OptimizeSmallDotOperands.cpp
Owners: @goostavz, @Superjomn, @ptillet

lit test
  bin/RegisterTritonDialects.h
  test/Conversion/amd/optimize-small-dot-operands.mlir
Owners: @ptillet

generalize LDS shortcut for 3d case blocked->dotOp
  lib/Analysis/Utility.cpp
Owners: @ptillet

Fix teamplate substitution failure
  include/triton/Dialect/TritonGPU/IR/Dialect.h
  lib/Conversion/TritonGPUToLLVM/ConvertLayoutOpToLLVM/SharedToDotOperandFMA.cpp
  lib/Conversion/TritonGPUToLLVM/DotOpToLLVM/FMA.cpp
  lib/Dialect/TritonGPU/IR/Dialect.cpp
Owners: @ptillet, @goostavz, @Superjomn

Refactor optimization and transform dot2d in dot3d to utilize more parallelism
  lib/Conversion/TritonGPUToLLVM/DotOpToLLVM/FMA.cpp
  test/Conversion/amd/optimize-small-dot-operands.mlir
  test_small_dot.py
  third_party/amd/lib/TritonAMDGPUTransforms/OptimizeSmallDotOperands.cpp
Owners: @goostavz, @Superjomn, @ptillet

post rebase fixes
  lib/Conversion/TritonGPUToLLVM/ConvertLayoutOpToLLVM/SharedToDotOperandFMA.cpp
  third_party/amd/lib/TritonAMDGPUTransforms/AccelerateAMDMatmul.cpp
Owners: @goostavz, @Superjomn, @ptillet

Allowing third-party backends to add modules to triton.language.extra
  python/setup.py
  python/triton/language/extra/__init__.py
  python/triton/language/extra/libdevice.py
  third_party/amd/language/hip/__init__.py
  third_party/amd/language/hip/libdevice.py
  third_party/nvidia/language/cuda/__init__.py
  third_party/nvidia/language/cuda/libdevice.py
  third_party/nvidia/language/cuda/utils.py
Owners: @ptillet

Adding language directory to package_data
  python/setup.py
Owners: @ptillet

Executing libdevice module before checking contents
  python/triton/language/extra/libdevice.py
Owners: @ptillet

Correctly separating paths in package_data
  python/setup.py
Owners: @ptillet

Running pre-commit again
  python/setup.py
Owners: @ptillet

Re-run precommit
  python/setup.py
Owners: @ptillet

Relax dot operand constrains with FMA based dot
  include/triton/Conversion/TritonGPUToLLVM/Utility.h
  include/triton/Dialect/TritonGPU/IR/Dialect.h
  lib/Analysis/Utility.cpp
  lib/Conversion/TritonGPUToLLVM/ConvertLayoutOpToLLVM/SharedToDotOperandFMA.cpp
  lib/Conversion/TritonGPUToLLVM/DotOpToLLVM/FMA.cpp
  lib/Conversion/TritonToTritonGPU/TritonToTritonGPUPass.cpp
  lib/Dialect/TritonGPU/IR/Dialect.cpp
  python/test/unit/language/test_core.py
  third_party/amd/backend/compiler.py
  third_party/nvidia/backend/compiler.py
  third_party/nvidia/lib/TritonNVIDIAGPUToLLVM/ConvertLayoutOpToLLVM/SharedToDotOperandMMAv2.cpp
Owners: @ptillet, @goostavz, @Superjomn, @daadaada

[Pipeliner] Implement dynamic loop peeling * wrap epilogue stages with `if` statements in case ub <= lb + num_stages
  lib/Dialect/TritonGPU/Transforms/Pipeliner/PipelineExpander.cpp
  test/TritonGPU/loop-pipeline.mlir
  third_party/amd/lib/TritonAMDGPUTransforms/StreamPipelineV2.cpp
Owners: @ptillet

Layout conversion bypass for blocked to dotOperand
  include/triton/Analysis/Utility.h
  lib/Analysis/Utility.cpp
  lib/Conversion/TritonGPUToLLVM/ConvertLayoutOpToLLVM.cpp
  lib/Conversion/TritonGPUToLLVM/DecomposeUnsupportedConversions.cpp
  lib/Dialect/TritonGPU/Transforms/ReduceDataDuplication.cpp
  test/Conversion/amd/decompose-unsupported-conversions.mlir
  test/Conversion/tritongpu_to_llvm_block_dot_shortcut.mlir
  test/TritonGPU/reduce-data-duplication.mlir
Owners: @ptillet, @goostavz, @Superjomn

Continue the backward slice when finding free convert
  lib/Dialect/TritonGPU/Transforms/Utility.cpp
Owners: @ptillet

Replace cvt instructions with bitwise operations in s8->bf16 conversions
  third_party/nvidia/lib/TritonNVIDIAGPUToLLVM/ElementwiseOpToLLVM.cpp
Owners: @ptillet

Enable verbose asm
  python/src/llvm.cc
Owners: @ptillet

Make autotuner take do_bench as a parameter
  python/test/unit/hopper/test_flashattention.py
  python/test/unit/language/test_decorator.py
  python/test/unit/runtime/test_autotuner.py
  python/triton/backends/driver.py
  python/triton/runtime/autotuner.py
  python/tutorials/06-fused-attention.py
  third_party/amd/backend/driver.py
  third_party/nvidia/backend/driver.py
Owners: @ptillet

Fix underflow in Triton's highestPowOf2Divisor function when the input is INT_MIN
  include/triton/Dialect/Triton/IR/Utility.h
  test/TritonGPU/coalesce.mlir
Owners: @ptillet

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
*       @ptillet

# Analyses
*/Analysis/Alias[.h, .cpp] @Jokeren
*/Analysis/Allocation[.h, .cpp] @Jokeren
*/Analysis/Membar.[h, .cpp] @Jokeren
*/Analysis/Utility[.h, .cpp] @Jokeren
*/Analysis/AxisInfo[.h, .cpp] @ptillet

# Conversions
*/Conversion/TritonGPUToLLVM/ @goostavz @Superjomn
*/Conversion/TritonToTritonGPU/ @daadaada

# Targets
*/Target/LLVMIR/ @goostavz @Superjomn
*/Target/PTX/ @goostavz @Superjomn
